// customers
// ul,
// h1,
// h2,
// p {
//     margin: 0;
//     padding: 0;
// }
 

.section__customers {

    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
   
    @media screen and (max-width: 767px) {    
        padding-top: 60px;
        padding-bottom: 60px;}
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 120px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 100px;
        padding-bottom: 200px;}

// mobile 
     background-image:
     url('../images/cliant/bg@1x_sm.png');
     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
     background-image:
     url('../images/cliant/bg@2x_sm.png');
     }
        
// tablet
     @media screen and (min-width: 768px) {
       background-image:
       url('..//images/cliant/bg@1x_md.png');
       @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
       background-image:
       url('..//images/cliant/bg@2x_md.png');
     }
   }
//  dekstop
       @media screen and (min-width: 1200px) {
         background-image:
         url('../images/cliant/bg@1x_lg.png');
       
       @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
       background-image: 
       url('../images/cliant/bg@2x_lg.png');
 }
}
}

.customers__title{
    margin-bottom: 20px;
@media screen and (max-width: 767px) {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 /28);
}
@media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: calc(49 /42);
    }
}

.customers__text{
        margin-bottom: 32px;
@media screen and (max-width: 767px) {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 /14);
}
@media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 /16);
    }
}

.customers__list{
@media screen and (min-width: 768px) {
    display: flex;}
}

.list.customers__card{
@media screen and (max-width: 767px){
        margin-bottom: 24px;
}
&:last-child{
    margin-bottom: 0;
}
@media screen and (min-width: 768px){
    margin-right: 32px;
}
&:last-child{
margin-right: 0;
}
}


.customers__container {
background-color: #FFFFFF;
border-radius: 0 30px 30px 30px;
}

