// header
.header__menu{
    @media screen and (max-width:767px) {
        display: none;
    }
    
}
.menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    background-color: transparent;
    border: none;

    cursor: pointer;

}
 .icon-menu{
  width: 26px;
  height: 16px;
 }