body {
    margin: 0;
    // background-color: $primary-bg-color;
    // color: $primary-titel-color;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    &.modal-open {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

.container {
 padding-left: 20px;
 padding-right: 20px;
 margin-left: auto;
 margin-right: auto;
 
 @media screen and (max-width: 479px) {
    max-width: 480px;
   
 }

 @media screen and (min-width: 480px) {
     width: 480px;
   
 }

 @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
 }

  @media screen and (min-width: 1280px) {
      max-width: 1280px;   
      padding-left: 16px;
      padding-right: 16px;
  }
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1280px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    font-size: 28px;
    line-height: calc(33/26);
    margin-bottom: 30px;
}
.button {
    cursor: pointer;

    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(20/14);

    text-align: center;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 30px;
    padding: 6px 18px;

    background-color: $primary-btn-color;

    &:hover,
    &:focus {
         background-color: $accent-btn-cl;
    }
}