$accent-hover-color: #bbf330;
$mobile-menu-color: #7EB101;
$primary-bg-color: #FEFEFE;
$slave-bg-color: #FFE550;
$prymary-text-color: #2C2C2C;
$burger-text-color: #000000;
// $radial-gradient-color: (50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);