// Fonts
$main-fonts: 'Roboto', sans-serif;

// Text-color
$primary-text-color: #2C2C2C;
$secondary-text-color: #000000;

//  Bg-color
$primary-bg-color: #FEFEFE;
$secondary-bg-color: #FFE550;

// Other
$primary-btn-color: #bbf330;
$accent-btn-cl: #B5FF00;
$accent-menu-color: #7EB101;
$accent-border-cl: #597D00;
$backdrop-color: rgba(25, 28, 38, 0.2); 




//  $radial-gradient-color: (50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);

 $timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);