<!-- Customers section -->
<section class="container section__customers">
    <h1 class="customers__title">What our Customers Say</h1>
    <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="customers__list">
        <li class="list customers__card">
            <div class="customers__container">
            <svg class="" width="17px" height="16px">
                <use href=""></use>
            </svg>
            <p>“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked””</p>
            <div>
                <svg class="">
                    <use href=""></use>
                </svg>
                <h2>Sumith Shah</h2>
                <p>Some Dude</p>
            </div>
            </div>
        </li>
        <li class="list customers__card">
            <div class="customers__container">
                <svg class="" width="17px" height="16px">
                    <use href=""></use>
                </svg>
                <p>“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app””</p>
                <div>
                    <svg class="" width="17px" height="16px">
                        <use href=""></use>
                    </svg>
                    <h2>Sumith Shah</h2>
                    <p>Some Dude</p>
                </div>
            </div>
        </li>
    </ul>
</section>