<!-- header section -->
<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="./index.html" class="header__logo-link">
                <img src="./images/logo/logo.png" alt="logo FoodSta" class="header__logo-icon" width="72" height="52"/>
            </a>
        <button class="menu-btn" type="button">
          <svg width="28" height="28">
            <use href="./images/gg_menu.svg"></use>
            <use class="icon-close" href="./images/gg_menu.svg"></use>
          </svg>
          <img src="./images/gg_menu.svg" alt="menu">
        </button>
            <!-- <div class="header__burger">
                <span>
                    <img src="./images/gg_menu.svg" alt="menu">
                </span>
            </div> -->
            <nav class="header__menu">
                <ul class="header__list list">
                    <li class="header__item"><a href="" class="header__link">Home</a></li>
                    <li class="header__item"><a href="" class="header__link">About</a></li>
                    <li class="header__item"><a href="" class="header__link">Service</a></li>
                    <li class="header__item"><a href="" class="header__link">Menu</a></li>
                    <li class="header__item"><a href="" class="header__link">Contact</a></li>
                </ul>
                <button class="header__btn" type="button">Order Now</button>
            </nav>
        </div>
    </div>
    </header>