<!-- header section -->
<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="./index.html" class="logo">
                <img src="./images/logo/logo.png" alt="logo FoodSta" class="logo-icon" width="72" height="52"/>
            </a>
            <button class="menu-btn  is-open" type="button"  aria-expanded="false"
                    aria-controls="menu-container"
                    data-menu-button>
                <svg width="28" height="28">
                    <use class="icon-menu" href="./images/sprite.svg#menu"></use>
                    <use class="icon-close" href="./images/sprite.svg#cross"></use>
                </svg>
                    <!-- <img src="./images/gg_menu.svg" alt="menu"> -->
            </button> 
            <nav class="header__menu">
                <ul class="header__list list">
                    <li class="header__item"><a href="#home" class="header__link">Home</a></li>
                    <li class="header__item"><a href="#about" class="header__link">About</a></li>
                    <li class="header__item"><a href="#service" class="header__link">Service</a></li>
                    <li class="header__item"><a href="#menu" class="header__link">Menu</a></li>
                    <li class="header__item"><a href="#contact" class="header__link">Contact</a></li>
                    <li class="header__item"><button class="header__btn button" type="button" data-modal-open>Order Now</button></li>
                </ul>
            </nav>
        </div>    
    <!-- Mobile menu -->
        <div class="mobile__overlay"  id="menu-container" data-menu>
            <div class="mobile__menu">
                <ul class="mobile__list list">
                    <li class="mobile__item"><a href="#home" class="mobile__link">Home</a></li>
                    <li class="mobile__item"><a href="#about" class="mobile__link">About</a></li>
                    <li class="mobile__item"><a href="#service" class="mobile__link">Service</a></li>
                    <li class="mobile__item"><a href="#menu" class="mobile__link">Menu</a></li>
                    <li class="mobile__item"><a href="#contact" class="mobile__link">Contact</a></li>                </ul>
            </div>
        </div>
    </div>
</header>
