<!-- Hero section -->
<section class="hero container">
    <h1 class="hero__titel">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <button class="header__btn" type="button">Order Now</button>
    <div>
        <button type="button" class="slider__btn"><img src="./images/slider_left.svg" alt="left" class="hero__btn-icon"></button>
        <ul class="slider__list">
            <li class="slider__item"><img class="slider__img" src="./images/dish/dish1_528.png" alt="meatball"></li>
            <li class="slider__item"><img class="slider__img" src="./images/dish/dish2_528.png" alt="salat"></li>
            <li class="slider__item"><img class="slider__img" src="./images/dish/dish3_528.png" alt="egg"></li>
        </ul>
        <button type="button" class="slider__btn"><img src="./images/slider_right.svg" alt="left" class="hero__btn-icon"></button>
    </div>
</section>