 <!-- modal  -->
 <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal__btn" data-modal-close>
        <span hidden>close</span>
        <svg class="modal__icon">
          <use href="./images/sprite.svg#cross"></use>
        </svg>
      </button>
      <form class="form js-speaker-form">
        <h2 class="form__title">
          Order form
        </h2>
        <label class="form__field" for="name">
          <span class="form__label">Name</span>
          <input class="form__input" type="text" name="name" id="name" />
          <!-- <svg class="form__icon">
            <use href="./images/sprite.svg#icon-person-modal"></use>
          </svg> -->
        </label>
        <label class="form__field" for="tel">
          <span class="form__label">Tel.</span>
          <input class="form__input" type="tel" name="tel" id="tel" />
          <!-- <svg class="form__icon">
            <use href="./images/sprite.svg#icon-phone-modal"></use>
          </svg> -->
        </label>
        <label class="form__field" for="address">
          <span class="form__label">Address</span>
          <input class="form__input" type="text" name="address" id="address" />
          <!-- <svg class="form__icon">
            <use href="./images/sprite.svg#icon-phone-modal"></use>
          </svg> -->
        </label>
        <button class="button form__button" type="submit">
        submit
        </button>
      </form>
    </div>
</div>